.Home{
    height: 100%;
}

.Buttons-Container{
    position: sticky;
    bottom: 0;
    background-color: var(--spotify-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Buttons, .Buttons p, .Buttons-Icon{
    background-color: transparent;
}