.PlaylistName{
    background-color: var(--spotify-light-grey);
}

.Info-Container{
    display: flex;
    flex-direction: row;
    /* height: calc(0.15 * var(--img-dims)); */
    width: 100%;
}

.Mix-Image-Container{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Mix-Image-Container input::placeholder{
    background-color: var(--spotify-grey);
    color: var(--spotify-white);
}

.Mix-Image{
    height: calc(0.125 * var(--img-dims));
    width: calc(0.125 * var(--img-dims));
}

.Text-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
    width: 100%;
}

.Mix-Input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5% 5%
}

.Input-Prompt{
    color: var(--spotify-white);
}

.Text-Container input{
    border: none;
    background-color: var(--spotify-dark-grey);
    color: var(--spotify-white);
    font-size: large;
    width: 100%;
}

.Text-Container input::placeholder{
    color: var(--spotify-grey);
}

.Mix-Button-Container{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    border: none;
    background: var(--spotify-black);
    height: calc(0.125 * var(--img-dims));
    width: 100%;
}

.Mix-Button{
    background-color: var(--spotify-green);
    height: 95%;
    width: 95%;
    border: none;
    border-radius: 10px;
}

.Wait-Button{
    background-color: var(--spotify-light-grey);
    color: var(--spotify-black);
    height: 95%;
    width: 95%;
    border: none;
    border-radius: 10px;
}