@font-face {
  font-family: Gotham-Black;
  src: url(./fonts/Gotham-Black.otf);
}
@font-face {
  font-family: Gotham-Bold;
  src: url(./fonts/GothamBold.ttf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(./fonts/GothamBook.ttf);
}
@font-face {
  font-family: Gotham-Light;
  src: url(./fonts/GothamLight.ttf);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(./fonts/GothamMedium.ttf);
}


:root{
  --spotify-green: #1db954;
  --spotify-black: #121212;
  --spotify-dark-grey: #212121;
  --spotify-grey: #535353;
  --spotify-light-grey: #b3b3b3;
  --spotify-white: white;
  --img-dims: 640px;
}

* {
  box-sizing: border-box;
  background-color: var(--spotify-black);
}

body{
  margin: 0;
}


/* 
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} */