.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--spotify-dark-grey);
    position: sticky;
    top: 0;
}

.navbar h1{
    margin: 0rem 1rem;
    padding: 0;
}

.site-title{
    color: var(--spotify-green);
    text-decoration: none;
    font-family: Gotham-Black, sans-serif;
    font-size: 3rem;
}

.links{
    display: flex;
    font-size: 2rem;
    margin: 0rem 1rem;
}

.links a{
    margin: 0;
    padding: 0;
}

.fa-gear{
    color: var(--spotify-white);
}

.fa-gear:hover{
    animation: rotation infinite 5s cubic-bezier(.75,.5,.25,.5);
    /* transform: rotate(90deg); */
}

@keyframes rotation{
    from{
      transform:rotate(0deg);
    }
  
    to{
      transform:rotate(360deg);
    }
  }