.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 1px solid var(--spotify-dark-grey);
}

.site-title{
    color: var(--spotify-green);
}

.links a{
    color: var(--spotify-white);
    background-color: transparent;
}

.navbar a{
    text-decoration: none;
}

.links{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.links li{
    padding: 3px;
    border-radius: 15%;
}

.links li:hover{
    background-color: var(--spotify-dark-grey);
    box-shadow: 0 0 5px 5px var(--spotify-dark-grey);
}