.Playlists{
    display: flex;
    flex-direction: column;
    color: var(--spotify-white);
    border: none;
}

.Library-Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding: 10px 5px;
    background-color: var(--spotify-dark-grey);
    border-bottom: 1px solid var(--spotify-grey);
}

.Banner-Container{
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    width: 65%;
}

.Mix-Button-Container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 10%;
}

.Mix-Button{
    font-size: larger;
    color: var(--spotify-white);
    background-color: var(--spotify-green);
    border-radius: 50%;
    padding: 5px;
}

.Search-Bar{
    position: sticky;
    top: 73px;
    border: none;
    background-color: var(--spotify-dark-grey);
    color: var(--spotify-white);
    font-size: larger;
    padding: 10px 5px;
}

.Search-Bar::placeholder{
    color: var(--spotify-white);
}

.Hidden{
    display: none;
}

.Playlist-Card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    height: calc(0.15 * var(--img-dims));
    /* border: 1px solid var(--spotify-white); */
}

.Full-Height{
    height: 100%;
}

.Playlist-Card-Image-Container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Playlist-Card-Image{
    height: calc(0.125 * var(--img-dims));
    width: calc(0.125 * var(--img-dims));
}

.Playlist-Text{
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    width: 65%;
}

.Playlist-Name{
    display: flex;
    align-items: left;
    text-overflow: ellipsis;
    padding-right: 5%;
}

.Playlist-Checker-Container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 10%;
}

.Playlist-Checked{
    /* padding: 5px;
    border-radius: 50%;
    background-color: var(--spotify-green); */
    font-size: xx-large;
}