<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <% const name = 'mario' %>
    <%- include('./partials/nav.ejs') %>
    <h1>This is my about page</h1>
    <h2>We out here (in the about page)</h2>
</body>
</html>