<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Home ejs</h1>
    <h2>We out here!</h2>
    <% if(blogs.length > 0) { %>
        <% blogs.forEach(element => { %>
            <h3><%= element.title %></h3>
            <p><%= element.content %></p>
        <% }); %>
    <% } %>
</body>
</html>